body {
  padding-top: 130px;
  padding-bottom: 700px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e0e0eb;
  background :
      linear-gradient( rgba(38, 38, 131, 0.7 ),
      rgba(62, 24, 62, 0.8)),
      url('images/ali-inay-9858.jpg');
  background-position: center;
  background-size: contain;
  /*overflow: hidden;*/
  color: white;
}

.title {
  background-color: #c2c2d6;
  margin-bottom: -100px;
  padding-left: 20px;
  padding-right: 20px;
}
.artist:scroll {
  color: black;
}
.artist {
  color: black;
}
.row {
  padding-left: 20px;
}
.min-height {
  min-height: 300px;
}
.resized {
  width: 250px;
}
.resized-photo {
  background-size: cover;
}
button {
  background-color: grey;
}
textarea {
  color: black;
}
input {
  color: black;
  columns: 90;
  rows: 1;

}
select {
  color: black;
}
.recipe-link {
  color: white;
}
