body {
  padding-top: 130px;
  padding-bottom: 700px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e0e0eb;
}
.title {
  background-color: #c2c2d6;
  margin-bottom: -100px;
  padding-left: 20px;
  padding-right: 20px;
}
.artist:scroll {
  color: black;
}
.artist {
  color: black;
}
.row {
  padding-left: 20px;
}
.min-height {
  min-height: 300px;
}
.resized {
  width: 250px;
}
.resized-photo {
  background-size: cover;
}
